{{> head }}
    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>Lorem ipsum dolor sit.</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus vero expedita impedit in odit quaerat nisi consequuntur assumenda quia suscipit!</p>
        </div>
        <div class="col-4">
            <img src="./assets/img/imgDaD.png" alt="" class="img-thumbnail">
        </div>
    </div>
{{> footer }}